<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="PROS for VEX Cortex"
            icon="icons/vcc16.png"
            class="edu.purdue.sigbots.ros.eclipse.perspective.perspectives.PurdueROSPerspective"
            id="edu.purdue.sigbots.ros.eclipse.perspective.perspectives.PROSPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
     <activity
            id="edu.purdue.sigbots.ros.eclipse.perspective.activities.PROSActivity"
            name="PurdueROS">
     </activity>
     <activityPatternBinding
            activityId="edu.purdue.sigbots.ros.eclipse.perspective.activities.PROSActivity"
            isEqualityPattern="false"
            pattern=".*org\.eclipse\.debug\.ui.*([Rr]un|[Dd]ebug|[Pp]rofile).*">
     </activityPatternBinding>
     <activityPatternBinding
            activityId="edu.purdue.sigbots.ros.eclipse.perspective.activities.PROSActivity"
            isEqualityPattern="false"
            pattern=".*org\.eclipse\.compare.*">
     </activityPatternBinding>
     <activityPatternBinding
            activityId="edu.purdue.sigbots.ros.eclipse.perspective.activities.PROSActivity"
            isEqualityPattern="false"
            pattern=".*org\.eclipse\.ui\.externaltools.*">
     </activityPatternBinding>
     <activityPatternBinding
            activityId="edu.purdue.sigbots.ros.eclipse.perspective.activities.PROSActivity"
            isEqualityPattern="false"
            pattern=".*org\.eclipse\.team\.ui.*([Hh]istory|compare|applyPatch|ConfigureProject).*">
     </activityPatternBinding>
     <activityPatternBinding
            activityId="edu.purdue.sigbots.ros.eclipse.perspective.activities.PROSActivity"
            isEqualityPattern="false"
            pattern=".*replaceWithPreviousFromHistory">
     </activityPatternBinding>
     <activityPatternBinding
            activityId="edu.purdue.sigbots.ros.eclipse.perspective.activities.PROSActivity"
            isEqualityPattern="false"
            pattern=".*org\.eclipse\.ui\.edit\.(cut|copy|paste|delete|findIncremental|findIncrementalReverse)">
     </activityPatternBinding>
     <activityPatternBinding
            activityId="edu.purdue.sigbots.ros.eclipse.perspective.activities.PROSActivity"
            isEqualityPattern="false"
            pattern=".*org\.eclipse\.ui\.edit\.text\.(toggleInsertMode|showInformation|hippieCompletion)">
     </activityPatternBinding>
     <activityPatternBinding
            activityId="edu.purdue.sigbots.ros.eclipse.perspective.activities.PROSActivity"
            isEqualityPattern="false"
            pattern=".*org\.eclipse\.ui\.file\.refresh">
     </activityPatternBinding>
     <activityPatternBinding
            activityId="edu.purdue.sigbots.ros.eclipse.perspective.activities.PROSActivity"
            isEqualityPattern="false"
            pattern=".*org\.eclipse\.ui\.OpenWithMenu">
     </activityPatternBinding>
     <activityPatternBinding
            activityId="edu.purdue.sigbots.ros.eclipse.perspective.activities.PROSActivity"
            isEqualityPattern="false"
            pattern=".*org\.eclipse\.ltk\.ui.*">
     </activityPatternBinding>
     <activityPatternBinding
            activityId="edu.purdue.sigbots.ros.eclipse.perspective.activities.PROSActivity"
            isEqualityPattern="false"
            pattern=".*org\.eclipse\.cdt\.make\.ui.*Target.*">
     </activityPatternBinding>
     <activityPatternBinding
            activityId="edu.purdue.sigbots.ros.eclipse.perspective.activities.PROSActivity"
            isEqualityPattern="false"
            pattern=".*org\.eclipse\.cdt\.debug\.ui.*">
     </activityPatternBinding>
     <activityPatternBinding
            activityId="edu.purdue.sigbots.ros.eclipse.perspective.activities.PROSActivity"
            isEqualityPattern="false"
            pattern=".*org\.eclipse\.cdt\.managedbuilder\.ui.*Action">
     </activityPatternBinding>
     <activityPatternBinding
            activityId="edu.purdue.sigbots.ros.eclipse.perspective.activities.PROSActivity"
            isEqualityPattern="false"
            pattern=".*org\.eclipse\.ui\.texteditor.*RulerAction">
     </activityPatternBinding>
     <activityPatternBinding
            activityId="edu.purdue.sigbots.ros.eclipse.perspective.activities.PROSActivity"
            isEqualityPattern="false"
            pattern=".*org\.eclipse\.cdt\.ui.*(cfgmenu|buildConfig).*">
     </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="edu.purdue.sigbots.ros.eclipse.perspective.commands.docCommand"
            class="edu.purdue.sigbots.ros.eclipse.perspective.handlers.DocHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="PROS Documentation"
            id="edu.purdue.sigbots.ros.eclipse.perspective.commands.category">
      </category>
      <command
            name="PROS Online Documentation"
            categoryId="edu.purdue.sigbots.ros.eclipse.perspective.commands.category"
            id="edu.purdue.sigbots.ros.eclipse.perspective.commands.docCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help?after=additions">
            <command
                  commandId="edu.purdue.sigbots.ros.eclipse.perspective.commands.docCommand"
                  id="edu.purdue.sigbots.ros.eclipse.perspective.menus.docCommand"
                  label="PROS Documentation"
                  tooltip="View online documentation of PROS API and examples">
            </command>
      </menuContribution>
   </extension>
</plugin>
