<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="VEX Cortex"
            id="edu.purdue.sigbots.ros.eclipse.manager.category.NewCortexProject">
      </category>
      <wizard
            name="VEX Cortex PROS Project"
            icon="icons/vcc16.png"
            category="edu.purdue.sigbots.ros.eclipse.manager.category.NewCortexProject"
            class="edu.purdue.sigbots.ros.eclipse.manager.wizards.NewCortexProject"
            id="edu.purdue.sigbots.ros.eclipse.manager.wizards.NewCortexProject"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Switch Project To Version"
            categoryId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.category"
            id="edu.purdue.sigbots.ros.eclipse.manager.commands.updateCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="edu.purdue.sigbots.ros.eclipse.manager.commands.updateCommand"
            class="edu.purdue.sigbots.ros.eclipse.manager.handlers.UpdatePROSHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
       <menuContribution
            locationURI="menu:edu.purdue.sigbots.ros.eclipse.flashutil.menus.vexMenu?after=edu.purdue.sigbots.ros.eclipse.flashutil.menus.firmwareCommand">
         <dynamic
               class="edu.purdue.sigbots.ros.eclipse.manager.menus.UpdateMenu"
               id="edu.purdue.sigbots.ros.eclipse.manager.menus.updateMenu">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.purdue.sigbots.ros.eclipse.manager.menus.UpdateChecker">
      </startup>
   </extension>

</plugin>
