<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="VEX Commands"
            id="edu.purdue.sigbots.ros.eclipse.vexflash.commands.category">
      </category>
      <command
            name="Upload to Cortex"
            categoryId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.category"
            id="edu.purdue.sigbots.ros.eclipse.vexflash.commands.uploadCommand">
      </command>
      <command
            categoryId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.category"
            id="edu.purdue.sigbots.ros.eclipse.vexflash.commands.firmwareCommand"
            name="Update Mastercode">
      </command>
      <command
            categoryId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.category"
            id="edu.purdue.sigbots.ros.eclipse.vexflash.commands.uploadPreserveCommand"
            name="Upload Preserving Filesystem">
      </command>
      <command
            categoryId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.category"
            id="edu.purdue.sigbots.ros.eclipse.vexflash.commands.downloadFileCommand"
            name="Save File to Cortex">
      </command>
      <command
            categoryId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.category"
            id="edu.purdue.sigbots.ros.eclipse.vexflash.commands.uploadFileCommand"
            name="Read File from Cortex">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.uploadCommand"
            class="edu.purdue.sigbots.ros.eclipse.flashutil.handlers.VexUploadHandler">
      </handler>
      <handler
            class="edu.purdue.sigbots.ros.eclipse.flashutil.handlers.VexUploadHandler"
            commandId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.uploadPreserveCommand">
      </handler>
      <handler
            class="edu.purdue.sigbots.ros.eclipse.flashutil.handlers.VexUploadHandler"
            commandId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.uploadFileCommand">
      </handler>
      <handler
            class="edu.purdue.sigbots.ros.eclipse.flashutil.handlers.VexUploadHandler"
            commandId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.downloadFileCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.uploadCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="F7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="VEX"
               mnemonic="V"
               id="edu.purdue.sigbots.ros.eclipse.vexflash.menus.vexMenu">
            <command
                  commandId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.uploadCommand"
                  icon="icons/vcc32.png"
                  id="edu.purdue.sigbots.ros.eclipse.vexflash.menus.uploadCommand"
                  label="Upload to Cortex"
                  mnemonic="U"
                  style="push"
                  tooltip="Upload current project to VEX Cortex">
            </command>
            <menu
                  id="edu.purdue.sigbots.ros.eclipse.vexflash.menus.filesystemMenu"
                  label="File System"
                  mnemonic="F"
                  tooltip="Commands for manipulating the PROS File System, for advanced users">
               <command
                     commandId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.uploadPreserveCommand"
                     icon="icons/vcc32p.png"
                     id="edu.purdue.sigbots.ros.eclipse.vexflash.menus.uploadPreserveCommand"
                     label="Upload Preserving Filesystem"
                     mnemonic="P"
                     style="push"
                     tooltip="Upload project to VEX Cortex, preserving filesystem contents [will be slower]">
               </command>
               <command
                     commandId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.uploadFileCommand"
                     icon="icons/upload16.png"
                     id="edu.purdue.sigbots.ros.eclipse.vexflash.menus.uploadFileCommand"
                     label="Read File from Cortex..."
                     mnemonic="R"
                     style="push"
                     tooltip="Copies a file from the VEX Cortex flash memory to this computer">
               </command>
               <command
                     commandId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.downloadFileCommand"
                     icon="icons/download16.png"
                     id="edu.purdue.sigbots.ros.eclipse.vexflash.menus.downloadFileCommand"
                     label="Write File to Cortex..."
                     mnemonic="W"
                     style="push"
                     tooltip="Copies a file from this computer to the VEX Cortex flash memory">
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="edu.purdue.sigbots.ros.eclipse.vexflash.toolbars.sampleToolbar"
               label="Upload Toolbar">
            <command
                  commandId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.uploadCommand"
                  icon="icons/vcc32.png"
                  id="edu.purdue.sigbots.ros.eclipse.vexflash.toolbars.uploadMenu"
                  label="Upload Options"
                  style="pulldown"
                  tooltip="Upload current project to VEX Cortex [drop-down for more options]">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:edu.purdue.sigbots.ros.eclipse.vexflash.toolbars.uploadMenu">
         <command
               commandId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.uploadCommand"
               icon="icons/vcc32.png"
               id="edu.purdue.sigbots.ros.eclipse.vexflash.toolbars.uploadCommand"
               label="Upload to Cortex"
               style="push"
               tooltip="Upload current project to VEX Cortex">
         </command>
         <command
               commandId="edu.purdue.sigbots.ros.eclipse.vexflash.commands.uploadPreserveCommand"
               icon="icons/vcc32p.png"
               id="edu.purdue.sigbots.ros.eclipse.vexflash.toolbars.uploadPreserveCommand"
               label="Upload Preserving Filesystem"
               style="push"
               tooltip="Upload project to VEX Cortex, preserving filesystem contents [will be slower]">
         </command>
      </menuContribution>
   </extension>

</plugin>
